
ignore/Sensor de baixo custo para o Solo  - Metodologia Prévia.gdoc
ignore/Sensor de baixo custo para o Solo  - Grafico de Gannt.xlsx
*.gdoc
*.zip
ignore/09-30.docx
ignore/10-31.docx
ignore/12-09.docx
ignore/~$10-31.docx
ignore/11-30.docx
